.header_menu {
  display: flex;
  justify-self: center;
}

.menu_links {
  display: flex;
  gap: 34px;
  list-style-type: circle; 
  padding-right: 7px;
}

.link_list {
  font-style: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.link_main {
  text-decoration: none;
}

.address {
  padding-left: 193px;
  font-style: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  font-family: Raleway, sans-serif;
  list-style-type: none;
  font-style: normal;
}

